body {
    background: radial-gradient(circle, white 8%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    cursor: pointer;
}

.btn-voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    
    background-color: #ffffff;
    color: #00bcd4; /* Usei a cor do portfólio que definimos */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: 1px solid #00bcd4;
    transition: all 0.3s ease;
}

.btn-voltar:hover {
    background-color: #00bcd4;
    color: #1a1a1a;
}